/*Reglage Generaux*/
@font-face {
    font-family: "mapolice";
    src: url(./mapolice.ttf);
}

@font-face {
    font-family: "policetexte";
    src: url(./policetexte.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-Rose: #FCD1D1;
    --color-gris: #ECE2E1;
    --color-bleuclair: #D3E0DC;
    --color-noir: black;
}

body {
    font-family: "policetexte" , sans-serif;
    text-shadow: 1px 1px 2px black;

}
/*Header*/
header {
    position: fixed;
    z-index: 10;
    background-color: black;
}

#header-haut {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-Rose);
    color: var(--color-bleu);
    margin: 0px;
    padding: 15px;
    width: 100vw;
    height: 20vh;

}

#header-logo {
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: start;
}

#header-titre {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center ;
    padding-right: 5VW;;
}

#header-login {
    width: 10vw;
    border: white solid 3px;
    border-radius: 6px;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-gris);   
    font-family: "mapolice" ,sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

#logo {
    width: 16vh;
    
}
/* Barre sous le header avec une image de fond*/
#header-bas {
    width: 100vw;
    height: 8vh;
    background-image:url("../image/livre.jpeg");
    border-top: var(--color-bleuclair) solid 3px;
   border-bottom: var(--color-bleuclair) solid 3px;
}
/*mise en forme de formulaire*/

input, label {
    display : block;
    margin-top: 3px; 
    width: 100%;   
}

/*partie central */
#central {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

/*Menu */

nav {
    position: fixed;
    top: 28vh;
    width: 20vw;
    height: 60vh;
    background-color: var(--color-Rose);
    border-radius: 0 0 15px 15px;
    box-shadow: 2px 2px 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
}

.bouton {
    text-decoration: none;
    color:var(--color-noir);
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    display: block;
    padding: 20px;
    background-color: var(--color-bleuclair);
    width: 80%;
    border-radius: 10%;
    box-shadow: black 2px 2px 10px 0;
    transition: box-shadow 300ms; color: 300ms, background-color 500ms;
}

.bouton:hover {
    box-shadow: none;
}

/*la partie central*/
main {
    position: relative;
    top: 28vh;
    left: 20vw;
    width: 80vw;
    padding: 30px;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*le texte de preésentation*/
article {
    padding: 20px;
    background-color: #ffffff46;
    box-shadow: var(--color-noir) 5px 5px 10px 0px;
}

/* Le choix de site */
iframe {
    width: 60%;
    aspect-ratio: 16/9;
    display: block;
    margin: 20px auto;
}

#sites {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items:  start;
}

.site {
    margin: 15px;
    width: 500px;
    max-width: 75vw;
    min-width: 20vw;
    aspect-ratio: 1/1;
    border-radius: 10%;
    box-shadow: var(--color-noir)2px 2px 5px 0;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.nomsite {
    text-align: center;
    font-size: 2rem;
    margin-top: 70%;
    font-weight: 800;
    color: var(--color-bleuclair);
    -webkit-text-stroke: var(--color-noir) 1px;
    
}

#arm {
    background-image: url('../image/e2cArm.png');
}

#lille {
    background-image: url('../image/e2cLille.png');
}

#rbx {
    background-image: url('../image/e2cRoubaix.png');
}

#sainto {
    background-image: url('../image/e2cSto.png');
}


/*la selection*/

/*footer*/

footer {
    position: relative;
    top: 28vh;
    width: 100vw;
    background-color: var(--color-Rose);
    color: var(--color-noir);
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:  stretch;
}

footer>div {
    width: 25%;
    padding: 10px;

}